@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="font-family:sans-serif">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Business Logic</title>
</head>
<body>
    <div>
        <h2 style="@getStyle(ViewBag.success)">@(ViewBag.welcomeMessage)</h2>
    </div>
    <br>
    <a href="/"><< back</a>
</body>
</html>

@helper getStyle(bool success)
{
    if (success)
    {
        @("color:green")
    }
    else
    {
        @("color:red")
    }
}
